.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.feature {
  display: flex;

  h3 {
    margin-bottom: .3rem;
  }
}

.featureSvg {
  height: 200px;
  width: 200px;
  border-radius: 1rem;
}

@media screen and (max-width: 996px) {
  .feature {
    flex-direction: column;
  }

  .featureSvg {
    height: 150px;
    width: 150px;
  }
}

.title {
  color: #33815B;

  text-decoration: none !important;
}

a:hover .title {

}

.subtitle {
  color: #33815B;
  font-size: .85em;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.shopifyAppStore {
  height: 2.7rem;
  display: block;

  img {
    height: 100%;
  }
}

.featureHeading {
  display: flex;
  justify-content: space-between;
}
