.Ember {
  position: absolute;
  width: var(--ember-size, 20px);
  height: var(--ember-size, 20px);
  background: var(--ember-color, orange);
  opacity: 0;
  animation: floatUp var(--ember-speed, 4s) ease-in-out 1;
  animation-delay: var(--ember-delay, 0s);
  z-index: 100;
  right: var(--ember-start-x, 50%);
  bottom: var(--ember-start-y, 0px);
  filter: blur(var(--ember-blur, 0px));
  border-radius: var(--border-radius, 0px);

  --embed-screen-scale: 1; /* scaling based on screen size, is set to a lower value in a media query */
}

@keyframes floatUp {
  0% {
    transform: translateY(0) rotate(0deg) scale(var(--embed-screen-scale));
    opacity: 0;
  }
  10% {
    opacity: var(--ember-opacity, 1);
  }
  100% {
    transform: translateY(calc(var(--ember-distance, -150px) * -1)) rotate(var(--ember-rotation, 360deg)) scale(var(--ember-scale, 0.5));
    opacity: 0;
  }
}

@media screen and (max-width: 1000px) {
  .Ember {
    --embed-screen-scale: 0.5;
  }
}
