/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background: radial-gradient(circle at top, #3a8e66, #2f7a55, #1f5f44, #0d3b2a);
}

.heroBanner h1 {
  font-size: 3rem;
}

@media screen and (max-width: 600px) {
  .heroBanner {
    padding: 2rem;
  }

  .heroBanner h1 {
    font-size: 2rem;
  }
}

.description {
  max-width: 800px;
  text-align: center;
  margin: 3rem auto;
}

.main {
  margin: 0 1rem;
}
