.main {
  padding: 5rem 1rem;
  background: #fff2ec;
  flex: 1;
}

.mainInner {
  display: flex;
  justify-content: center;
  gap: 10rem;
}

@media screen and (max-width: 1200px) {
  .mainInner {
    flex-direction: column;
    gap: 8rem;
    align-items: center;
  }
}
