.main {
  padding: 5rem 1rem;
  display: flex;
  justify-content: center;
  background: #fff2ec;
  gap: 10rem;
}

@media screen and (max-width: 1200px) {
  .main {
    flex-direction: column;
    gap: 8rem;
    align-items: center;
  }
}
